html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
}

.span {
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;     
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;       
    position: sticky;
    top: 0;
    background-color: lightskyblue;
    text-align: center;
    color: black;
    margin: 0px;
    padding: 0px;
}

#headerLogo {
    flex-grow: 1;
}

#headerMenu {
    flex-grow: 1;
    
}

#header a {
    margin: 0px;
    text-decoration: none;
    color: whitesmoke;        
}

.menu {
    font-size: 18px;
    padding: 10px;    
}

.home {
    height: 100vh;
    text-align: center;
    background-color: lightskyblue;
}

.sedan {
    height: 100vh;
    text-align: center;
    background-color: white;
    background-image: url("image/세단배경이미지.jpg");
}

.coupe {
    height: 100vh;
    text-align: center;
    background-color: white;    
    background-image: url("image/쿠페배경이미지.jpg");
}

.wagons {
    height: 100vh;
    text-align: center;
    background-color: white;
}

.suv {
    height: 100vh;
    text-align: center;
    background-color: white;
}

.conver {
    height: 100vh;
    text-align: center;
    background-color: white;
}
.hech {
    height: 100vh;
    text-align: center;
    background-color: white;
}
.limo {
    height: 100vh;
    text-align: center;
    background-color: white;
}
.van {
    height: 100vh;
    text-align: center;
    background-color: white;
}
.truck {
    height: 100vh;
    text-align: center;
    background-color: white;
}