.header .site_logo {
    position: relative;
    z-index: 100;
}

body {
    height: 2000px;
    margin: 0%;
}

section{
    height: 1000px;
    background-image: url("image/car1.jpg");
    background-attachment: fixed;
}

a, body, dd, div, dl, dt, figure, h1, h2, h3, h4, h5, h6, html, img, li, ol, p, ul, table, td, th {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    font-size: inherit;
    color: inherit;
}