body,div,ul,li{
    margin: 0px;    
    padding: 0px;  
    font-family: sans-serif;
    font-size: 100%;
    list-style-type: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

#container {                                                           
    position: relative;
    min-width: 980px;
    overflow: hidden;
}

#container .home {
    background-color: #fff;
    min-width: 1020px;
}

.home {
    border: 0;
}

.renewal-header {
    position:relative;
    background-color:#fff;
    border-bottom:1px solid #eee;
}

.renewal-header #header{
    position:relative;
    width:980px;
    height:115px;
    margin:0 auto;
    padding-top:32px;
    background:#fff;
}

.renewal-header #header section{
    position:absolute;
    width:840px;
    height:91px;
    margin:25px 0 0 140px;
}

#header {
    z-index: 3;
}

.renewal-header #header .product-search a.search, .renewal-header .my-coupang-icon, .renewal-header .cart-icon, .renewal-header .category-btn, .renewal-header .select-icon, .renewal-header .depth-select-icon, .renewal-header .speech-icon, .renewal-header .blue-arrow, .renewal-header .subscription-menu-warning-icon, .renewal-header .gnb-menu li.rocket-delivery, .renewal-header .vendor-join .ic {
    background-image: url(//static.coupangcdn.com/image/coupang/common/pc_header_img_sprite_180104.png);
    background-repeat: no-repeat;
}

.category-btn {
    position: absolute;
    width: 110px;
    height: 115px;
    top: 32px;
    left: 0;
    margin-right: 30px;
    background-position: 0 0;
    text-align: center;
}

.category-btn a {
    display: block;
    margin-top: 73px;
    color: #fff;
    font-size: 13px;
}

.category-btn:hover .category-layer{
    height:auto;
    display:block
}

.category-layer {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 450px;
    top: 114px;
    left: 0;
    display: none;
    border: 1px solid #ddd;
    box-shadow: -1px 4px 5px rgb(0 0 0 / 30%);
    z-index: 1;
    background: #fff;
    text-align: left;
}

.category-layer .shopping-menu-list {
    padding: 8px 0 5px 0;
    border-bottom: #ddd solid 1px;
}

.category-layer li {
    height: 29px;
}

.fashion-sundries>a:hover,.category-layer .theme-store>a:hover,.category-layer .travel-leisure>a:hover{
    text-decoration:none;
    cursor:pointer;
}

.category-layer .menu>li.fashion-sundries>a{
    background-position:-8px -27px;
}

.fashion-sundries>a:hover{
    background-position:-200+px -27px;
}

.fashion-sundries.hover>a{
    background-position:-200px -27px;
}

#headmenu {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    text-align: center;
    margin: 0px;
    padding: 0px; 
}

#headerMenu1 {
    flex-grow: 1;
}

#headerMenu2 {
    flex-grow: 1;
    
}

#headerMenu3 {
    flex-grow: 1;
    
}

#headerMenu4 {
    flex-grow: 1;
    
}

#headerMenu5 {
    flex-grow: 1;
    
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

@media (max-width: 700px) {

}

@media (max-width: 450px) {

}
