body {
    height: 3000px;
    margin: 0%;
}

.main{
    height: 1000px;
    background-image: url("../image/car1.jpg");
    background-attachment: fixed;
}

.topmenu {
    position: relative;
    text-align: right;

}

.dropdown {
    position: absolute;
    /* right: 300px; */
}

.act1{
    height: 100vh;
    text-align: center;
}

.act2{
    height: 100vh;
    text-align: center;
}

.act3{
    height: 100vh;
    text-align: center;
}

.act4{
    height: 100vh;
    text-align: center;
}

.act5{
    height: 100vh;
    text-align: center;
}

h1 {
    left: 800px;
    top: 400px;
    font-size: 8em;
    font-family: sans-serif;
    position: absolute;

}

.container {
	display: flex;
    flex-wrap: nowrap;
}

.item {
	flex-grow: 1;
}

.textany1 {
    padding: 10px;
    margin: 0px;
    font-family: sans-serif;
    animation: grow1 1s ;
}

.textany2 {
    padding: 10px;
    margin: 0px;
    font-family: sans-serif;
    animation: grow1 1s ;
}

.textany3 {
    padding: 10px;
    margin: 0px;
    font-family: sans-serif;
    animation: grow1 1s ;
}

.textany4 {
    padding: 10px;
    margin: 0px;
    font-family: sans-serif;
    animation: grow1 1s ;
}

@keyframes grow1 {
    from {        
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes grow2 {
    from {        
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}