html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
}
.bg {
    position: absolute;
     top: 0px;
     left: 0px;
     min-width: 100%;
     min-height: 100%;
     width: auto;
     height: auto;
     z-index: -1;
  }

h1 {
    left: 200px;
    top: 300px;
    font-size: 2.5em;
    width: 258px;
    font-family: sans-serif;
    position: absolute;
    animation: slide 2s ease-out;
}

@keyframes slide {
    from {
        left: -200px;
        opacity: 0;
    }
    to {
        left: 200px;
        opacity: 1;
    }
}

@keyframes disappear {
    from {
        left: 200px;
        opacity: 1;
    }
    to {
        left: -200px;
        opacity: 0;
    }
}

.home {
    height: 100vh;
    text-align: center;
}

.sedan {
    height: 100vh;
    text-align: center;
}

.coupe {
    height: 100vh;
    text-align: center;
}

.wagons {
    height: 100vh;
    text-align: center;
}

.suv {
    height: 100vh;
    text-align: center;
}

.conver {
    height: 100vh;
    text-align: center;
}
.hech {
    height: 100vh;
    text-align: center;
}
.limo {
    height: 100vh;
    text-align: center;
}
.van {
    height: 100vh;
    text-align: center;
}
.truck {
    height: 100vh;
    text-align: center;
}

.container {
	display: flex;
    flex-wrap: wrap;
}

.item {
	flex-grow: 1;    
    margin: 20px;
}
